@charset "UTF-8";

:root {
    --corverde: #49a09d;
    --corlilas: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, var(--corverde), var(--corlilas));
    }
    
    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        width: 30%;
        float: left;
        heigth: 100%;
    }

    section#login > div#formulario {
        width: 70%;
        float: right;
    }
}

@media screen and (min-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, var(--corverde), var(--corlilas));
    }
    
    section#login {
        width: 950px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        heigth: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
    
    
    }
}