@charset "UTF-8";

:root {
    --corverde: #49a09d;
    --corlilas: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background-color: var(--corlilas);
    height: 100vh;
    width: 100vh;
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    
}

section#login > div#imagem {
    background: var(--corlilas) url(../imagens/metal.jpg) no-repeat left bottom;
    background-size: cover;
    width: 100%;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
    
}