@charset "UTF-8";

:root {
    --corverde: #49a09d;
    --corlilas: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background-color: var(--corlilas);
    height: 100vh;
    width: 100vw;
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: var(--corlilas) url(../imagens/metal.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
    
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}
form > div.campo {
    background-color: var(--corlilas);
    border: 2px solid var(--corlilas);
    display:block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0x;
}
div.campo > label {
    display: none;
}



form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--corverde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px  solid #49a09d;
    border-radius: 7px;
    
}
form > a.botao:hover {
    background-color: #6cd3cd;
    
}
form > a.botao > i {
    font-size: 0.8em;
}