@charset "UTF-8";

:root {
    --corverde: #49a09d;
    --corlilas: #5f2c82;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
body {
    background-color: var(--corlilas) var(--corverde) top bottom no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}